
.app-header {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 4px solid #1976d2;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.header-container {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.nav-links {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  margin-right: 20px;
  color: #5f6368;
  font-weight: 300;
  transition: color 0.3s;

  display: flex;
  align-items: center;
  gap: 8px;
}

.material-icons-outlined {
  font-size: 20px;
}

.nav-links a:hover {
  color: #1976d2;
}

.btn-novo {
  background-color: #1976d2;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.btn-novo:hover{
  background-color: #1565c0;
}

