<section>
  <div class="capa-livro">
    <img [src]="livro.imagem" [alt]=" 'Capa do livro ' + livro.titulo ">
  </div>
  <div class="info-livro">
    <h2 class="titulo-livro">{{ livro.titulo }}</h2>
    <h3 class="dados-livro">{{ livro.autor }}</h3>
    <h3 class="dados-livro">{{ livro.genero }}</h3>
    <h3 class="dados-livro">
      <span class="status-tag">{{ livro.status }}</span>
    </h3>
  </div>
  <div class="acoes">
    <button class="btn-editar estilo-botao">Editar</button>
    <button class="btn-excluir estilo-botao">Excluir</button>
  </div>
</section>
