@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
    height: 100%;
    margin: 0;
}

body {
  background-image: url(/imagens/fundo.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
